html, body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  overflow: hidden;
  padding: 20px;
  display: inline-block;
  background: #2E3440;
  position: fixed;
  margin: 0;
}

.header_buttons {
  background-color: #04AA6D;
  transition: background-color 100ms ease-in-out 0s;
  border: none;
  border-radius: 0.25em;
  display: inline-block;
  padding: 0.15em 0.5em;
  position: relative;
  margin: 0px 0.556em;
  float: right;
  text-decoration: none;
  text-align: center;;
  font-family: 'Rubik', sans-serif;
  line-weight: 400;
  line-height: 1.5;
  font-size: 1.125em;
}

#header_button1 {
  background-color: #2E3440;
  color: #ECEFF4;
  top: 0px;
  right: 337.75px;
}

#header_button1:hover {
  background-color: #4C566A;
  color: #ECEFF4;
  top: 0px;
  right: 337.75px;
}

#header_button2 {
  background-color: #2E3440;
  color: #ECEFF4;
  top: 0px;
  right: 160px;
}

#header_button2:hover {
  background-color: #4C566A;
  color: #ECEFF4;
  top: 0px;
  right: 160px;
}

#header_button3 {
  background-color: #2E3440;
  color: #ECEFF4;
  top: 0px;
  right: -30px;
}

#header_button3:hover {
  background-color: #4C566A;
  color: #ECEFF4;
  top: 0px;
  right: -30px;
}

#header_button4 {
  background-color: #2E3440;
  color: #ECEFF4;
  top: 0px;
  right: -235px;
}

#header_button4:hover {
  background-color: #4C566A;
  color: #ECEFF4;
  top: 0px;
  right: -235px;
}

#about {
  background-color: #3b4252;
  padding: 105px;
}

#about h1 {
  font-family: 'Rubik', sans-serif;
  color: #ECEFF4;
  position: relative;
  right: 75px;
  bottom: 7.75px;
  font-weight: 900;
  font-size: 2.2807em;
  max-width: 400px;
}

#p1 {
  font-family: 'Rubik', sans-serif;
  color: #ECEFF4;
  position: relative;
  right: 75px;
  bottom: 2.27px;
  font-weight: normal;
  font-size: 1.26563em;
  transition: color 400ms ease-in-out 0s;
  max-width: 400px;
}

#p2 {
  font-family: 'Rubik', sans-serif;
  color: #ECEFF4;
  position: relative;
  right: 75px;
  bottom: -7.25px;
  font-weight: normal;
  font-size: 1.26563em;
  transition: color 400ms ease-in-out 0s;
  max-width: 400px;
}

#about_button1 {
  font-family: 'Rubik', sans-serif;
  color: #ECEFF4;
  position: relative;
  white-space: nowrap;
  border: medium none;
  border-radius: 0.25em;
  background: rgb(136, 192, 208) none repeat scroll 0% 0%;
  padding: 0.375em 0.75em;
  user-select: none;
  line-height: 1.15;
  right: 75px;
  bottom: -20px;
  transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s, box-shadow 200ms ease-in 0s, color 200ms ease-in 0s;
  text-decoration: none;
}

#about_button2 {
  font-family: 'Rubik', sans-serif;
  color: #ECEFF4;
  position: relative;
  white-space: nowrap;
  border: medium none;
  border-radius: 0.25em;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  padding: 0.375em 0.75em;
  user-select: none;
  line-height: 1.15;
  right: 45px;
  bottom: -20px;
  transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s, box-shadow 200ms ease-in 0s, color 200ms ease-in 0s;
  border: 0.0625em solid rgb(76, 86, 106);
  text-decoration: none;
}

#about_button2:hover {
  border-color: rgb(115, 151, 186);
  color: rgb(115, 151, 186);
  text-decoration: none;
}
